/*!
 * SPDX-FileCopyrightText: 2025 Trappe Vincent 
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.icon-agora {
  background-image: url(../../../img/agora.svg);
  filter: var(--background-invert-if-dark);
}

.icon-agora-dark {
  background-image: url(/apps/agora/img/agora-dark.svg);
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  display: inline-block;
  filter: var(--background-invert-if-dark);
}
